.main {
    background-color: var(--body_background);
    width: 100%;
    height: 100vh;
    display: flex;
    color: var(--body_color);
    padding: 25px 20px;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 21px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--body_border);
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 90%;
    margin-top: 20px;
    gap: 40px;
}

.pic-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
}

.pic-content img {
    width: 200px;
    height: 200px;
    box-shadow: 12px 12px 0px 0px transparent;
}

.pic-content img:hover {
    box-shadow: 12px 12px 0px 0px rgba(84, 98, 194, 1);
}


.card {
    width: 80%;
    min-width: 500px;
    max-height: 90%;
    min-height: 260px;
    border-radius: 10px;
    background-color: var(--body_chart);
    border: 1px solid #2b367416;
    padding: 10px;
    margin-right: 2%;
}

.card-title {
    margin-top: 25px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: ju;
    padding: 20px;
}

.pic-content svg {
    color: grey;
    width: 20px;
    height: 20px;
}

.wraper {
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}


@media (max-width:700px) {
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin-right: 0px;
        min-width: 0px;
        width: 90%;
    }

    .card-title {
        text-align: left;
    }

    .description {
        text-align: left;
    }

    .wraper {
        justify-content: center;
        justify-items: center;
    }
}