.main {
    background-color: var(--body_background);
    width: 100%;
    min-height: 100vh;
    display: flex;
    color: var(--body_color);
    padding: 25px 20px;
    flex-direction: column;
}

.title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--body_border);
}

.bottom-fertilizer {
    /* border: 1px solid red; */
    min-height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    /* border: 1px solid black; */
    margin-top: 35px;
    width: 70%;
    height: 80%;
}

.weather {
    margin-top: -30px;
    width: 100%;
    height: 35%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* position: relative; */
    /* border: 1px solid red; */
    gap: 38px;
    background-color: var(--body_chart);
    padding: 10px 30px;
    margin-inline: auto;
    scrollbar-width: thin;
}

/* .weather::-webkit-scrollbar {} */

.weather-card {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    height: 150px;
    width: 80px;
    flex-shrink: 0;
    text-wrap: nowrap;

}

/* .text-nowrap {
    text-wrap: nowrap;
} */

.card-fertilizer {
    padding: 50px;
    background-color: var(--body_chart);
    border: 1px solid #2b36741d;
    /* border: 1px solid pink; */
    border-radius: 10px;
    flex-shrink: 0;
}

.card-fertilizer-title {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    font-weight: 600;

}

.progress-fertilizer-title {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 600;
}

.loaders {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px;
    min-width: 20%;
    background-color: var(--body_chart);
    justify-content: center;
    align-items: center;
    border: 1px solid #2b367416;
}

@media (max-width : 900px) {
    .main {
        height: auto;
    }

    .weather {
        overflow-x: scroll;
    }

    .main-content {
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .temp {
        width: 80%;
        min-width: 100px;
    }

    .loaders {
        flex-wrap: wrap;
        margin-top: 45px;
        padding: 0px;
        width: 70%;
    }

    .bottom-fertilizer {
        flex-direction: column;

    }

    .card-fertilizer {
        height: 50px;
    }
}