.main {
    background-color: var(--body_background);
    width: 100%;
    min-height: 100vh;
    display: flex;
    color: var(--body_color);
    padding: 25px 20px;
    flex-direction: column;
}

.title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--body_border);
}

.bottom-fertilizer {
    min-height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-fertilizer {
    padding: 50px;
    background-color: var(--body_chart);
    border: 1px solid #2b36741d;
    border-radius: 10px;
}

.card-fertilizer-title {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.progress-fertilizer-title {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.loaders {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px;
    min-width: 20%;
    background-color: var(--body_chart);
    justify-content: center;
    align-items: center;
    border: 1px solid #2b367416;
}

@media (max-width : 900px) {
    .main {
        height: auto;
    }

    .main-content {
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .temp {
        width: 80%;
        min-width: 100px;
    }

    .loaders {
        flex-wrap: wrap;
        margin-top: 45px;
        padding: 0px;
        width: 70%;
    }
}