.right-container {
    background-color: var(--body_background);
    width: 100%;
    display: flex;
    color: var(--body_color);
    padding: 25px 20px;
    flex-direction: column;
}

.new-chart {
    border: 1px solid red;
}

.right-container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2b36741d;
}

.right-container-title button {}

.crop-recommend {
    position: relative;
}


.location-item {
    display: flex;
    gap: 2px;
    margin-inline-start: auto;
    margin-right: 50px;
    align-items: center;
}

.chart {
    padding: 10px;
    overflow: hidden;
    height: 200px;
    /* background-color: #1B254B; */
}

.chart-container {
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--body_chart);
    border: 1px solid #2b367416;
}

.bottom {
    display: flex;
    margin-top: 20px;
    gap: 25px;
}


.bottom p {
    font-weight: 700;
}

.chart-container-top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.right-container-col1 {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 20px;
    /* border: 1px solid black; */
}

.right-container-col2 {
    min-height: 550px;
    width: 45%;
}

.recommendation-panel {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.error {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.recommendation-panel img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.img-container {
    height: 180px;
    max-width: 190px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.recommendation-panel {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    min-height: 100%;
    background-color: var(--body_chart);
    border-radius: 10px;
    border: 1px solid #2b367416;
    padding: 20px;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 15px;
    font-family: inherit;
}

button.learn-more {
    width: 180px;
    height: auto;
    margin-top: -10px;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 50px;
    height: 50px;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

@media (max-width: 800px) {
    .right-container-col1 {
        width: 95%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .chart-container {
        width: 100%;
    }

    .chart {
        width: 100%;
    }

    .right-container {
        padding: 10px;
    }

    .right-container-title {
        padding: 10px 10px;
    }

    .bottom {
        flex-direction: column;
    }

    .right-container-col2 {
        margin: auto;
        width: 95%;
    }

    .recommendation-panel {
        flex-wrap: wrap;
    }

}