.Container-main {
    background-color: var(--body_background);
    width: 100%;
    min-height: 100vh;
    display: flex;
    color: var(--body_color);
    padding: 25px 20px;
    flex-direction: column;
}

.title-child {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--body_border);
}

.content-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.content-card {
    background-color: var(--body_chart);
    border: 1px solid #2b36741d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    border-radius: 10px;
    width: 60%;
    min-width: 400px;
    min-height: 60%;
}

.ip-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* width: 90%; */
}

.ip-form input {
    padding: 5px;
    height: 45px;
    border: hidden;
    border-radius: 10px;
    width: 85%;
    font-size: 15px;
    /* box-shadow: 0px 0px 8px var(--input_shadow); */
    background-color: var(--body_background);
}

.ip-form input:focus {
    outline: none;
}


.input-wraper {
    display: flex;
    width: 100%;
    min-width: 350px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 0px 4px var(--input_shadow);
    background-color: var(--body_background);
}

/* .wrap {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.submit-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    border: 2px solid rgba(128, 128, 128, 0.688);
    /* box-shadow: 0px 0px 8px var(--input_shadow); */
    background-color: var(--body_color);
    border: none;

}

.submit-btn:hover {
    /* background-color: rgb(59, 67, 73); */
    /* color: black; */
    background-color: grey;

}