:root {
    --body_background: #F4F7FE;
    --body_color: #2B3674;
    --body_chart: white;
}

[data-theme="dark"] {
    --body_background: #0B1437;
    --body_color: #FFFFFF;
    --body_chart: #111C44;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App {
    display: flex;
    font-family: "DM Sans", sans-serif;
}